.section{
    padding: 1%;
}
.card-main{
  display: flex;
  flex-direction: column;
}
.cards
{
    background-color: rgb(16, 146, 155);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 25px;
    /* padding: 1%; */
    width: 40%;
    max-width: 20%;
    box-shadow: 0 2px 5px #ccc;
    color : white;
}

.card-container{
  /* display: flex; */
  
}

  
  /* .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 40%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  } */
.top{
    background-color: #00cec9;
    border-radius: 25px 25px 0 0;
    /* max-width: inherit; */
}
   
  .cards img {
    margin: 10px 0px 0px 0;
  }
  
  .circle-img {
    border-radius: 20%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  
  .info {
    margin: 20px 0;
    color: #1a7e76;
  }
  